*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.7em) {
    html {
      font-size: 37.5%; } }

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 1.6;
  color: #fff;
  font-size: 1.6rem;
  background-color: #010101;
  background-image: url(../img/main-bg.png);
  background-size: 100rem;
  background-position: right top;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 75em) {
    body {
      background-size: contain; } }
  @media only screen and (max-width: 56.25em) {
    body {
      background-size: 100rem; } }

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 114rem;
  padding: 8rem; }

.header {
  display: flex;
  align-items: center; }
  .header__logo {
    margin-right: 7rem; }
  .header__list {
    list-style: none;
    display: flex; }
    @media only screen and (max-width: 43.75em) {
      .header__list {
        display: none; } }
  .header__item:not(:last-child) {
    margin-right: 1.5rem; }
  .header__link:link, .header__link:visited {
    text-transform: capitalize;
    text-decoration: none;
    color: inherit;
    transition: color 0.2s; }
  .header__link:hover, .header__link:active {
    color: #fb641a; }

.heading-1, .heading-2 {
  font-weight: 900;
  font-family: "Lato", sans-serif; }

.heading-1 {
  font-size: 5rem; }
  @media only screen and (max-width: 37.7em) {
    .heading-1 {
      font-size: 4rem; } }

.heading-2 {
  font-size: 3rem; }

.main__text {
  color: #afafaf;
  width: 50%;
  font-size: 1.8rem; }

.info {
  width: 53%;
  font-size: 1.8rem; }
  @media only screen and (max-width: 28.75em) {
    .info {
      width: 100%; } }
  .info__text {
    color: #afafaf; }
    @media only screen and (max-width: 28.75em) {
      .info__text {
        width: 100%;
        letter-spacing: 1px;
        background-color: rgba(7, 5, 6, 0.5);
        padding: 1rem; } }
  .info__premier {
    color: #b02000;
    margin-top: 2.5rem; }
  .info__date {
    font-size: 2.4rem; }

.btn:link, .btn:visited {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  background-image: linear-gradient(to right, #fb641a, #fc3309);
  border-radius: 300px;
  transition: transform 0.2s ease-out; }

.btn--animated {
  padding: 1.5rem 8.5rem 1.5rem 2.5rem;
  margin-top: 4.5rem;
  position: relative;
  width: max-content; }
  .btn--animated::after {
    content: "" url(../img/Polygon-1.png);
    position: absolute;
    top: -2px;
    right: -0.7rem;
    display: inline-block;
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 100px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; }
  .btn--animated::before {
    content: '';
    display: inline-block;
    height: 8rem;
    width: 8rem;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: -0.9rem;
    right: -1.4rem;
    border-radius: 100px;
    animation: scale 1s infinite; }

.btn:hover {
  background-image: linear-gradient(to right, rgba(80, 80, 80, 0.86), rgba(80, 80, 80, 0.86));
  transform: translateY(-0.5rem); }

.btn:active {
  transform: translateY(0); }

.remove {
  opacity: 0;
  visibility: hidden; }

@keyframes scale {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.5); }
  100% {
    transform: scale(1); } }

.slider {
  margin-top: 6rem; }
  .slider__title {
    font-size: 1.8rem;
    font-weight: 900;
    margin-bottom: 2.5rem; }
  .slider__arrows {
    margin-top: 3rem;
    font-size: 3rem;
    display: inline-block; }

.arrow {
  transition: transform 0.2s ease;
  cursor: pointer; }
  .arrow--1:hover {
    transform: translateX(-0.5rem); }
  .arrow--2:hover {
    transform: translateX(0.5rem); }

.card-container {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 75em) {
    .card-container {
      flex-wrap: wrap; } }
  @media only screen and (max-width: 56.25em) {
    .card-container {
      justify-content: space-around; } }

.card {
  width: 25rem;
  height: 20rem;
  box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 3rem 3rem 2rem 3rem;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  flex: 0 0 23%; }
  @media only screen and (max-width: 75em) {
    .card {
      height: auto;
      width: auto; } }
  @media only screen and (max-width: 56.25em) {
    .card {
      flex: 0 0 34%;
      margin-top: 2rem; } }
  @media only screen and (max-width: 28.75em) {
    .card {
      flex: 0 0 51%;
      margin-top: 2rem; } }
  .card--1 {
    background-image: linear-gradient(rgba(80, 80, 80, 0.86), rgba(80, 80, 80, 0.86)), url(../img/Rectangle-2.png); }
    .card--1:hover {
      background-image: linear-gradient(rgba(64, 101, 255, 0.86), rgba(64, 101, 255, 0.86)), url(../img/Rectangle-2.png); }
  .card--2 {
    background-image: linear-gradient(rgba(80, 80, 80, 0.86), rgba(80, 80, 80, 0.86)), url(../img/Rectangle-3.png); }
    .card--2:hover {
      background-image: linear-gradient(rgba(64, 101, 255, 0.86), rgba(64, 101, 255, 0.86)), url(../img/Rectangle-3.png); }
  .card--3 {
    background-image: linear-gradient(rgba(80, 80, 80, 0.86), rgba(80, 80, 80, 0.86)), url(../img/Rectangle-4.png); }
    .card--3:hover {
      background-image: linear-gradient(rgba(64, 101, 255, 0.86), rgba(64, 101, 255, 0.86)), url(../img/Rectangle-4.png); }
  .card--4 {
    background-image: linear-gradient(rgba(80, 80, 80, 0.86), rgba(80, 80, 80, 0.86)), url(../img/Rectangle-5.png); }
    .card--4:hover {
      background-image: linear-gradient(rgba(64, 101, 255, 0.86), rgba(64, 101, 255, 0.86)), url(../img/Rectangle-5.png); }
  .card__rate {
    display: flex;
    align-items: center;
    margin-top: auto; }
    @media only screen and (max-width: 75em) {
      .card__rate {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-top: 2rem; } }
    .card__rate p {
      margin-right: auto; }
    .card__rate ion-icon {
      visibility: visible !important; }

.u-mb-tiny {
  margin-bottom: 0.5rem !important; }

.u-mb-small {
  margin-bottom: 2rem !important; }

.u-mb-medium {
  margin-bottom: 3rem !important; }

.u-mb-big {
  margin-bottom: 4rem !important; }

.u-mb-huge {
  margin-bottom: 8rem !important; }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none; }
  @media only screen and (max-width: 43.75em) {
    .nav {
      display: flex;
      align-items: center;
      justify-content: center; } }
  .nav__input {
    display: none; }
  .nav__label {
    position: absolute;
    top: 6rem;
    right: 6rem;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background-color: #070506;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 5000; }
  .nav__input:checked + .nav__label .nav__icon {
    background-color: transparent; }
    .nav__input:checked + .nav__label .nav__icon::before {
      top: 0rem;
      transform: rotate(225deg); }
    .nav__input:checked + .nav__label .nav__icon::after {
      top: 0rem;
      transform: rotate(-225deg); }
  .nav__icon {
    position: relative; }
    .nav__icon, .nav__icon::before, .nav__icon::after {
      height: 2px;
      width: 4rem;
      background-color: #fff;
      transition: all 0.2s ease; }
    .nav__icon::before, .nav__icon::after {
      position: absolute;
      content: '';
      display: inline-block; }
    .nav__icon::before {
      top: -1.5rem; }
    .nav__icon::after {
      top: 1.5rem; }
  .nav__background {
    height: 7rem;
    width: 7rem;
    position: relative;
    border-radius: 50%;
    transform: scale(0);
    background: radial-gradient(rgba(64, 101, 255, 0.86), rgba(80, 80, 80, 0.86));
    transition: transform 0.6s cubic-bezier(1, 0, 0, 1);
    z-index: 4000; }
  .nav__input:checked ~ .nav__background {
    transform: scale(80); }
  .nav__list {
    list-style: none;
    text-align: center;
    z-index: 4500; }
    @media only screen and (max-width: 43.75em) {
      .nav__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); } }
  .nav__item {
    transform: scale(0);
    transition: transform 0.6s cubic-bezier(1, 0, 0, 1); }
  .nav__input:checked ~ .nav__list .nav__item {
    transform: scale(1); }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    padding: 1.5rem 2rem;
    font-size: 2.5rem;
    background-size: 260% !important;
    transition: all 0.3s; }
  .nav__link:hover, .nav__link:active {
    background: linear-gradient(135deg, transparent 0%, transparent 50%, #fff 50%);
    color: #070506;
    background-position: 100%;
    transform: translateX(5px); }
