.header {
  display: flex;
  align-items: center;

  &__logo {
    margin-right: 7rem;
  }

  &__list {
    list-style: none;
    display: flex;

    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
  &__link:link,
  &__link:visited {
    text-transform: capitalize;
    text-decoration: none;
    color: inherit;
    transition: color 0.2s;
  }
  &__link:hover,
  &__link:active {
    color: $color-btn-light;
  }
}
